<div class="col menu-item border-info border" data-toggle="tooltip" data-placement="top" title="Lịch sử ra vào">
    <a href="partials/lich-su-ra-vao.html" class="d-block text-info text-center">
        <i class="fa fa-2x fa-history pt-2 pb-2"></i>
    </a>
</div>
<div class="col menu-item border-info border border-left-0" data-toggle="tooltip" data-placement="top" title="Thời khóa biểu">
    <a href="partials/thoi-khoa-bieu.html" class="d-block text-info text-center">
        <i class="fa fa-2x fa-calendar-alt pt-2 pb-2"></i>
    </a>
</div>
<div class="col menu-item border-info border border-left-0" data-toggle="tooltip" data-placement="top" title="Vân tay đã đăng ký">
    <a href="partials/danh-sach-tai-khoan.html" class="d-block text-info text-center">
        <i class="fa fa-2x fa-user-check pt-2 pb-2"></i>
    </a>
</div>
<div class="col menu-item border-info border border-left-0" data-toggle="tooltip" data-placement="top" title="Đăng ký tài khoản">
    <a href="partials/dang-ky-tai-khoan.html" class="d-block text-info text-center">
        <i class="fa fa-2x fa-user-plus pt-2 pb-2"></i>
    </a>
</div>
<div class="col menu-item border-info border border-left-0" data-toggle="tooltip" data-placement="top" title="Đăng xuất">
    <a href="login.html" class="d-block text-info text-center">
        <i class="fa fa-2x fa-sign-out-alt pt-2 pb-2"></i>
    </a>
</div>