*{
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    box-sizing: border-box;
}

.mw-500{
    max-width: 500px;
}

.img-fit{
    object-fit: cover;
}

img.square-200{
    width: 200px;
    height:200px;
}

.text-style-2{
    margin: 20px 0;
    position: relative;
    transition: all 0.4s;
}


.text-style-2 input{
    width: 100%;
    padding: 5px 16px;
    outline: none;
    border: 1px solid rgb(20, 130, 194);
    border-radius: 5px;
    transition: all 0.5s;
    text-indent: 120px;
    color:rgb(15, 84, 124);
}


.text-style-2 input::placeholder{
    text-indent: 0;
}


.text-style-2 label{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(20, 130, 194);
    padding: 6px 0;
    width: 120px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    color: white;
    transition: 0.4s all;
    transform-origin: bottom left;
}

.text-style-2 input:focus
{
    text-indent: 0;
    box-shadow: 0 0 10px 1px rgba(46, 151, 207, 0.1);
}

.text-style-2 input:focus + label{
    transform: translateY(-50px);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.text-style-2 label::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid rgb(20, 130, 194);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top:75%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s all;
    z-index: -1;
}
.text-style-2 input:focus + label::before{
    top: 97%;
}

/* Định dạng button */
.button-style{
    text-align: center;
    margin-top: 26px;
}

.button-style button{
    position: relative;
    width: auto;
    border: none;
    border-radius: 5px;
    padding: 7px;
    background-color: rgb(20, 130, 194);
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.button-style button::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 180%;
    background-color: rgb(143, 214, 255);
    left: -50%;
    top: -50%;
    box-shadow: 0 0 12px 4px rgb(137, 181, 255);
    transform: rotateZ(30deg);
    transition: 0.8s all;
}

.button-style button:hover::after{
    left: 140%;
}